/* issue list page styles */

body.issue-list {

    // force wrapping 
    .grid .container { overflow-x: hidden; }

    ol {
        list-style: none;
        padding: 0;
        margin: rem(80px) 0 0;
        overflow: hidden;
    }

    li + li {
        margin-top: rem(30px);
    }

    li a {
        text-decoration: none;
        display: block;

        .theme {
            padding-right: rem(75px);
            position: relative;
        }

        // red arrows when links are hovered
        .theme::after {
            content: url('/link-arrow-right.svg');
            position: absolute;
            height: rem(22px);
            top: calc(50% - 33px);
            right: rem(45px);
            transition: right 0.2s ease;
        }

        // movement effect
        &:hover,
        &:focus {
            .theme::after { right: rem(40px); }
        }
    }
}