/* custom styles for "An Unnatural Language" */

/* disable normal blockquote styles for <cite>, which we use to mark book titles */
cite.book {
  display: inline !important;
  font-style: italic !important;
}

cite.book::before {
  display: none !important;
}

/* figure 2 styles */

#fig2 th {
  font-size: 1.5rem;
}

#fig2 th[scope=row] {
  font-size: 1rem;
  text-align: end;
}

#fig2 .words td {
  text-align: center;
  font-size: 3rem;
}

#fig2 .translit td,
#fig2 .translit th,
#fig2 .gloss td,
#fig2 .gloss th {
  padding: .5rem;
}

/* space between the two parts */
#fig2 .languages th:nth-child(3),
#fig2 .words td:nth-child(2),
#fig2 .gloss td:nth-child(4),
#fig2 .translit td:nth-child(4) {
  padding-left: 2.5rem;
}

#fig2 img.character {
  width: 3rem;
  height: 3rem;
}

#fig2 caption,
#fig2 .languages,
#fig2 .words {
  text-align: center;
}

#fig2 caption {
  width: auto;
}

#fig2 *[lang=zh] {
  font-family: var(--font-serif);
}

/* figure two table needs side-scrolling on mobile,
  but does not need wider margins */
#fig2 table.side-scroll {
  margin: auto;
}

/* make row headers and caption sticky when scrolling */
#fig2 table th[scope=row], #fig2 table caption {
  position: sticky;
  left: 0;
  background-color: var(--purple); /* match interlude background */
}

/* figure 3 */

#fig3 {
  font-family: var(--font-sans);
  color: #404040; /* override interlude text color */
  padding: 0;
}

#fig3:before {
  background-color: #E9E9E9;
}

#fig3 .caption {
  font-size: 18px;
  line-height: 1.25;
  margin: 0 auto;
  padding: 1rem 0;
}

#fig3 .caption + .caption {
  padding-top: 0;
}

#fig3 blockquote {
  margin: 0 auto;
}

#fig3 .notes {
  font-size: 18px;
  padding: 1rem 0;
}

#fig3 .source {
  font-size: 1.5rem;
  font-family: var(--font-serif);
  position: relative;
  padding: 1rem 0;
  margin: 0;
  text-underline-offset: .25rem;

  @media (min-width: 768px) {
    font-size: 2rem;
    text-underline-offset: .5rem;
  }
}

#fig3 .source p {
  position: relative;
  z-index: 1;
  line-height: 1.25;
  font-style: normal;
  padding: 0;
  margin: 0;
}

#fig3 .source::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100vw * -1);
  width: 200vw;
  height: 100%;
  background-color: #FEFEFE;
}

#fig3 .translation {
  text-underline-offset: 3px;
  line-height: 1.25;
}

#fig3 .par,
#fig3 .g1,
#fig3 .g2 {
  text-decoration: underline;
}

#fig3 .par {
  text-decoration-color: #1D6EB9;
  text-decoration-style: solid;
}

#fig3 .g1 {
  text-decoration-color: #A12FBD;
  text-decoration-style: dotted;
}

#fig3 .g2 {
  text-decoration-color: #BD6B00;
  text-decoration-style: wavy;
}

/* figure 4 */

#fig4 .caption {
  line-height: 1.25;
}

#fig4 table {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

#fig4 table caption {
  font-size: 1rem;
  caption-side: top;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 1.25rem;
    max-width: 32rem;
  }
}

#fig4 .stanza-header {
  text-align: center;
  font-style: italic;
}

#fig4 .lb > td {
  padding-top: 1rem;
}

#fig4 .rhyme {
  text-decoration: underline;
  text-decoration-color: salmon;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

#fig4 tbody td {
  padding: 0;
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

#fig4 td[lang=zh] {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  padding-right: 10px;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

#fig4 .rhyme .vowel {
  color: white;
  text-shadow: white 1px 0 10px;
}

#fig4 .pinyin {
  font-style: italic;
}

#fig4 tr:not(.rhyme-line) {
  opacity: 0.3;
}

#fig4 thead tr {
  opacity: 1 !important;
}


/* figure 6 */

#fig6 > div {
  /* match article content width */
  @media (min-width: 768px) {
    max-width: 32rem;
    margin: 0 auto;
  }
}

#fig6 p {
  line-height: normal !important;
  font-size: 22px;
}


#fig6 .caption {
  margin-top: 3em;
  margin-left: 150px;
  max-width: calc(95% - 150px);
  font-size: 16px;
  @media (min-width: 768px) {
    margin-left: 5%;
    max-width: none;
  }
}

.card {
  /* stack on smaller screens */
  display: inline-block;
  margin-left: 20%;
  vertical-align: top;
  width: 80%;

  /* side by side on larger screens */
  @media (min-width: 768px) {
    width: 45%;
    margin-left: 0;
  }
}

/* second card */
.card + .card {
  margin-top: 48px;  /* make space between the two card s*/
  margin-bottom: 100px; /* push to make space for ear on mobile */
  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: auto;
    width: 48%;
    margin-left: 5%;
    padding-left: 0;
  }
}

#fig6 .card p.large {
  font-size: 24px;
	font-style: normal;
	font-weight: 400;
  line-height: 33px;
  white-space: nowrap;
  @media (min-width: 1024px) {
      font-size: 40px;
      line-height: 58px;
  }
}

#fig6 .card header {
  font-size: 20px;
  margin-bottom: 14px;
  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.card .fade {
	opacity: 0.7;
  position: relative;
}

/* match up word and phonetic spelling widths */
.fish {
  display: inline-block;
  width: 3.75rem;
  @media (min-width: 1024px) {
    width: 6.25rem;
  }
}

.tek {
  display: inline-block;
  width: 2.75rem;
  @media (min-width: 1024px) {
    width: 3.75rem;
  }
}

#fig6::before {
  content: " ";
  display: block;
  background-image: url("listen.svg");
  background-repeat: no-repeat;
  background-position: -35px bottom;
  background-size: 150px;
}

button.play {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-left: -46px;
  vertical-align: middle;
  position: relative;
  border-radius: 15px;
  border: 1px transparent;
  cursor: pointer;
}
audio.playing + button.play {
  cursor: wait;
}

audio.playing + button.play:after {
  pointer-events: none;
  background-color: #808080;
}

button.play:focus-visible {
  border: 1px dashed white;
  outline: none;
}

button.play:after {
  mask-image: url("/img/icons/phosphor/play-circle-fill.svg");
  -webkit-mask-image: url("/img/icons/phosphor/play-circle-fill.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: #E0CEFF;
  content: " ";
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
}
/* switch to pause icon to indicate playing */
audio.playing + button.play:after {
  mask-image: url("/img/icons/phosphor/pause-circle-fill.svg");
  -webkit-mask-image: url("/img/icons/phosphor/pause-circle-fill.svg");
}

button.play:hover:after {
  background-color: #E9E9E9;
}
.phonetic {
  position: relative;
}

.phonetic button.play {
  position: absolute;
  bottom: -32px;
  margin-left: 0;
}

/* figure 7  */

#fig7 {
  padding: 0;
  color: #404040; /* override interlude text color */
  font-family: var(--font-sans);
}

#fig7:before {
  background-color: #E9E9E9;
}

#fig7 .caption {
  font-size: 18px;
  line-height: 1.25;
  margin: 0 auto;
  padding: 1rem 0;
}

#fig7 .text {
  /* use flexbox to let terms follow each other (with translation & annotation)
  and wrap as needed */
  display: flex;
  /* on mobile, layout one term per row */
  flex-direction: column;
  justify-content: flex-start;

  /* on larger screens, display layout horizontally but wrap */
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

#fig7 .segment {
  /* use flexbox within each block so they stack nicely */
  display: flex;
  flex-direction: column;
  width: 100%;

  /* full screen width on mobile */
  width: 100vw;
  margin-left: -10px;

  @media (min-width: 768px) {
    width: min-content;
    margin-left: 0;
  }
}

#fig7 .source,
#fig7 .translation,
#fig7 .label {
  padding-left: 1.5rem;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

#fig7 .source {
  font-size: 1.5rem;
  font-family: var(--font-serif);
  position: relative;
  padding: 1rem 0;
  margin: 0;
  text-underline-offset: .25rem;

  @media (min-width: 768px) {
    font-size: 2rem;
    text-underline-offset: .5rem;
  }
}

#fig7 .source p {
  position: relative;
  z-index: 1;
  line-height: 1.25;
  font-style: normal;
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  white-space: nowrap;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

#fig7 .source::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100vw * -1);
  width: 200vw;
  height: 100%;
  background-color: #FEFEFE;
}

#fig7 .translation {
  font-size: 18px;
  align-self: flex-start;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

/* text labels for annotations */
#fig7 .label {
  font-size: 18px;
  font-style: italic;
}

#fig7 .head .notes {
  justify-content: flex-end;
}

#fig7 .notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  height: 100%;
  position: relative;

  @media (min-width: 768px) {
    padding: 14px 0;
  }
}

#fig7 .translation + .label {
  padding-top: 8px;

  @media (min-width: 768px) {
    padding-top: 14px;
  }
}

/* visual indicators for annotations (provisional) */

#fig7 .source {
  position: relative;
  text-decoration: none;
  font-family: var(--font-serif);
}

#fig7 .notes::after {
  position: absolute;
  color: transparent;
  content: 'aaaaaaaaaaaaaaaaaaaa';
  writing-mode: vertical-lr;
  overflow: hidden;
  height: 100%;
  width: 1.5rem;
  left: 0;
  top: 0;
  text-decoration-line: line-through;
  text-underline-offset: -13px;
}

@media (min-width: 768px) {
  #fig7 .notes::after {
    display: none;
  }

  #fig7 .source {
    text-decoration-line: underline;
  }
}

#fig7 .head .notes::after,
#fig7 .head .source {
  text-decoration: none;
}

#fig7 .graphic .notes::after,
#fig7 .graphic .source {
  text-decoration-style: dotted;
  text-decoration-color: #1D6EB9;
  text-decoration-thickness: 10px;
}

#fig7 .work .notes::after,
#fig7 .work .source {
  text-decoration-style: double;
  text-decoration-color: #6D0000;
  text-decoration-thickness: 3px;
}

#fig7 .phon .notes::after,
#fig7 .phon .source {
  text-decoration-style: dashed;
  text-decoration-color: #BD6B00;
  text-decoration-thickness: 4px;
}

#fig7 .person .notes::after,
#fig7 .person .source {
  text-decoration-style: wavy;
  text-decoration-color: #0A760F;
  text-decoration-thickness: 3px;
}

#fig7 .semantic .notes::after,
#fig7 .semantic .source {
  text-decoration-style: solid;
  text-decoration-color: #A12FBD;
  text-decoration-thickness: 3px;
}

#fig7 .semantic .source {
  text-underline-offset: 14px;
}

#fig7 .person .source {
  text-underline-offset: 10px;
}

#fig7 .phon .source {
  text-underline-offset: 13px;
}

#fig7 .work .source {
  text-underline-offset: 12px;
}

#fig7 .graphic .source {
  text-underline-offset: 10px;
}
