<section id="features" aria-label="{{ i18n "features" }}" class="inverted grid">
    <div class="wide-container">
        {{/* display feature essays; two by default, but overridable in issue params */}}
        {{ $numFeatures := default 2 (int .Params.num_features) }}
        {{ range first $numFeatures (.Pages.ByParam "order") }}
            {{ .Render "summary" }}
        {{ end }}
        {{/* display snippets, if any; any articles after the features */}}
        {{ $snippets := after $numFeatures (.Pages.ByParam "order") }}
        {{ if $snippets }}
        <div class="snippets">
            <h2>{{ i18n "snippets" }}</h2>
            {{ range $snippets }}
            <div class="article-short-summary">
                <a class="highlight-focus" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ partial "authors" . }}
                {{ partial "tags" . }}
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>