{{ define "main" }}
<article>
    <h1>{{ .Params.Title }}</h1>
    <ul>
        {{ range .Params.Authors }}
        <li><address>{{ . }}</address></li>
        {{ end }}
    </ul>
    <a href="{{ .Parent.Permalink }}">Issue {{ .Parent.Params.number }}:<br/>
        {{ .Parent.Params.issue_theme }}</a><br/>
        {{ .Parent.Date.Format "January 2006" }}
        <br/>
        <br/>
        📄: PDF | {{ with  .OutputFormats.Get "txt" -}}
        <a href="{{ .RelPermalink }}" rel="alt">TXT</a>
        {{- end }}
    {{ .Content }}
</article>
{{ end }}
        