{{ define "css" }}
    {{ range .Resources.Match "*.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}

{{ define "pagetype" }}article{{ end }}

{{ define "main" }}
<main>
    <article>
        <p class="number">Issue {{ .Parent.Params.number }}</p>
        <p class="theme">{{ .Parent.Params.theme }}</p>
        <h1>{{ .Params.Title }}</h1>
        {{ partial "authors" . }}
        {{ partial "pubdate" . }}
        {{ with  .OutputFormats.Get "txt" -}}
        <a href="{{ .RelPermalink }}" rel="alt">TXT</a>
        {{- end }}
        {{ .Content }}
    </article>
</main>


<section class='print-only'>

    <a class="first-page-header" href="{{ relURL "/" }}" aria-label="Startwords">
        <img alt="Startwords" src="{{ relURL "/logotype.svg" }}" /></a>

    <a class="page-header" href="{{ relURL "/" }}" aria-label="Startwords">
        <img alt="Startwords" src="{{ relURL "/img/logos/startwords.svg" }}" /></a>


    </section>
{{ end }}
