<article class="article-summary">
    {{ $summaryText := .Summary | plainify }}
    <div class="bg-text" role="presentation">{{ $summaryText }}</div>
    {{/* output length + wordcount in case it is helpful to editors/devs adjusting height */}}
    <!-- summary length: {{ $summaryText | len }}; word count: {{ $summaryText | countwords }}-->
    <p><span style="height:{{ mul 1.25  ($summaryText | len) | lang.FormatNumber 3 }}px"></span>{{ .Summary | plainify }}</p>
    <h2><a class="highlight-focus" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ partial "authors" . }}
    {{ with .Params.doi }}
    <a class="doi highlight-focus" href="https://doi.org/{{ . }}">{{ . }}</a>
    {{ end }}

</article>
