<article class="article-summary">
    {{ with .Summary | plainify | htmlUnescape }}
    <div class="bg-text" role="presentation">{{- substr . 0 210 -}}</div>
    {{ end }}
    <a href="{{ .Permalink }}">
        {{ with .Summary | plainify | htmlUnescape }}
        <p>
            {{- substr . 0 210 -}}
            {{ if gt (len .) 210 }}…{{ end }}
        </p>
        {{ end }}
        <h2>{{ .Title }}</h2>
    </a>
    {{ partial "authors" . }}
    {{ with .Params.doi }}
    <a class="doi" href="https://doi.org/{{ . }}">{{ . }}</a>
    {{ end }}
</article>
