
body.article .deepzoom {
    width: 100vw;
    height: 230px;

/*    @media (min-width: 768px) {
        height: 485px;
    }
    @media (min-width: 1024px) {*/
        height: 725px;
/*    }*/

}

.highlight {
    border: 3px solid #CE2949;
    opacity: 0.5;
}
.highlight:hover {
    opacity: 1;
}


body.article .footnotes {
    /* add more space before footnotes */
    margin-top: 15rem;
}

/* customize footnote display */
.footnotes li::before {
    display: none;  /* hide footnote number */
}
/* display reference type in its place */
.footnotes li .reftype {
    position: absolute;
    right: calc(22.5% - 13px);
    color: #4C2A85;
    top: 2.77rem;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: rem(18px);
}
.footnotes li.flip .reftype {
    left: calc(22.5% - 13px);
    right: auto;
}

.pnum {
    text-decoration: none;
    color: white;
    font-size: 22pt;
}
/*    .pnum::after {
    content: '1';
    font-size: 22pt;
    display: block;
    color: white;
}
*/

.reference {
    position: absolute;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 450px;
    height: 350px;
    background-color: white;
    z-index: 3;
    opacity: 0;

   -webkit-transition: opacity 1.5s ease-in-out;
   -moz-transition: opacity 1.5s ease-in-out;
   -ms-transition: opacity 1.5s ease-in-out;
   -o-transition: opacity 1.5s ease-in-out;
}

.reference.loading {
    opacity: 0.5;
}

.reference.show {
    opacity: 1;
}

.footnote-ref {
    opacity: 0;
}