/* add custom background image of weaving */

article { position: relative; }

article::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('/issues/1/data-beyond-vision/images/DerridaScarf.png');
    background-position-y: top;
    background-position-x: right;
    background-repeat: repeat-y;
    pointer-events: none;
}

article #interlude,
article figure,
article .deepzoom,
article .sketchfab-embed-wrapper {
    position: relative;
    z-index: 1;
}

/* purple "interlude" section with eye/hand graphics */

#interlude {
    position: relative;
    margin: 0 auto;
}

#interlude::before {
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    left: -10px;
    height: 100%;
    background: #4C2A85;
}

#interlude .left,
#interlude .right {
    display: block;
    z-index: 1;
    color: #E0CEFF;
    font-weight: 300;
    font-size: 16px;
    font-family: 'IBM Plex Serif', 'Palatino', serif;
    max-width: 55%;
    min-height: 150px;
}

#interlude .left {
    padding-top: 35px;
}

#interlude .left::before,
#interlude .right::before {
    position: absolute;
    background-size: contain;
    content: '';
    background-repeat: no-repeat;
}

#interlude .left::before {
    background-image: url("/issues/1/data-beyond-vision/images/eyeball.svg");
    width: 174px;
    height: 90px;
    right: -30px;
    top: 60px;
}

#interlude .right {
    text-align: right;
    margin-left: auto;
    padding-bottom: 35px;
}

#interlude .right::before {
    background-image: url("/issues/1/data-beyond-vision/images/hand.svg");
    opacity: 0.7;
    width: 230px;
    height: 83px;
    left: -45px;
    bottom: 60px;
}

#interlude p {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 20px;
    z-index: 1;
}

#interlude p:first-child {
    margin-bottom: 0;
}

#interlude strong {
    font-weight: 700;
    clear: both;
}

@media (min-width: 768px) {
    #interlude::before { left: calc((100vw - 10px) / 10 * -1 - 10px) }
    #interlude .left, #interlude .right { max-width: 200px; }
    #interlude .left { margin-left: 20%; }
    #interlude .right { margin-left: 50%; }
    #interlude .left::before { right: -18%; }
    #interlude .right::before { left: -15%; }
}

@media (min-width: 1024px) {
    #interlude::before { left: calc((100vw - 10px) / 10 * -2 - 10px) }
    #interlude .left::before {
        width: 238px;
        height: 123px;
        right: -40%;
    }
    #interlude .right::before {
        width: 354px;
        height: 128px;
        left: -35%;
    }
}

/* clickable icon navigation sections */

.icon-nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    padding: 10px 0;
    height: 85px;
}

.icon-nav::before {
    z-index: 1;
    position: absolute;
    content: '';
    background: #fff;
    width: 100vw;
    height: 100%;
}

.icon-nav .help {
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    top: -45px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.icon-nav a {
    z-index: 1;
    height: 100%;
}

.icon-nav a img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .icon-nav { height: 100px; padding: 20px 10%; }
    .icon-nav a { min-width: 88px; }
    .icon-nav::before { left: calc((100vw - 10px) / 10 * -1 - 10px) }
}

@media (min-width: 1024px) {
    .icon-nav::before { left: calc((100vw - 10px) / 10 * -2 - 10px) }
}

/* section headers with icons */

h2:not([id=acknowledgements]) {
    position: relative;
    display: block;
    margin-left: 90px;
    max-width: 210px;
    line-height: 30px;
    z-index: 1;
}

h2:not([id=acknowledgements])::before {
    content: '';
    background: #fff;
    z-index: -1;
    position: absolute;
    height: 56px;
    top: calc(50% - 28px);
    width: 50vw;
    right: calc(100% + 25px);
}

h2:not([id=acknowledgements])::after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: calc(50% - 28px);
    right: calc(100% + 25px);
    height: 56px;
    width: 56px;
}

#acknowledgements { margin-top: 4rem; }
#folding::after { background-image: url("/issues/1/data-beyond-vision/images/icon-folding.svg"); }
#modeling::after { background-image: url("/issues/1/data-beyond-vision/images/icon-printing.svg"); }
#weaving::after { width: 25px; background-size: cover; background-image: url("/issues/1/data-beyond-vision/images/icon-weaving.svg"); }
#stacking::after { background-size: cover; background-image: url("/issues/1/data-beyond-vision/images/icon-stacking.svg"); }

@media (min-width: 768px) {
    h2[id]::before { height: 70px; top: calc(50% - 35px); }
    h2[id]::after { height: 70px; width: 70px; top: calc(50% - 35px); }
}