/* global styles for regular (non-article/issue) pages */

body.page {
    ul { list-style: none; }    // non-bulleted lists

    main header {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 32rem;
    }
}


/* custom styles for about page */
.masthead {
    strong {
        display: inline-block;
        line-height: 1rem;
        padding-right: 0.5rem;
        margin-right: 0.25rem;
        border-right: 0.1rem solid $dark-grey;
    }
}