/* global styles for regular (non-article/issue) pages */

body.page {
    ul { list-style: none; }    // non-bulleted lists

    main header {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 32rem;
        @media (min-width: $breakpoint-s) {
            max-width: auto;
            margin-left: 0;
        }

        dl {
            margin-left: 1rem;
        }
    }
}


/* styles for about page and issue credits */
.masthead {
    strong {
        display: inline-block;
        line-height: 1rem;
        padding-right: 0.5rem;
        margin-right: 0.25rem;
        border-right: 0.1rem solid $dark-grey;
    }
}

/* content pages */

body.content-page {
    h1 {
    @include constrain-text;
    }

    main header {
        margin: 0 2.5rem;

        h2 {
            font-weight: normal;
        }
    }

}

nav#TableOfContents {
    li {
        list-style-type: none;
    }
    & > ul {
        border-bottom: 1px solid gray;
        padding: 0 0 0.5rem;
    }
}

