/* global styles for regular (non-article/issue) pages */

/* content pages */

body.page {
    h1 {
        @include constrain-text;
        font-size: rem(32px);
    }
    h2 {
        @include constrain-text;
        font-size: rem(24px);
    }

    main header {
        margin: 0 2.5rem;

        h2 {
            font-weight: normal;
        }
    }
}

h2.contents {
    font-family: $font-sans;
}

nav#TableOfContents {
    li {
        list-style-type: none;
    }
    & > ul {
        border-bottom: 1px solid gray;
        padding: 0 0 2.4rem;
        font-family: $font-sans;
    }
}

/* about page */
body.about {
    ul {
        list-style: none;
    } // non-bulleted lists

    main header {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 32rem;
        @media (min-width: $breakpoint-s) {
            max-width: auto;
            margin-left: 0;
        }

        dl {
            margin-left: 1rem;
        }
    }
}

/* styles for about page and issue credits */
.masthead {
    strong {
        display: inline-block;
        line-height: 1rem;
        padding-right: 0.5rem;
        margin-right: 0.25rem;
        border-right: 0.1rem solid $dark-grey;
    }
}

/* author list page */
body.authors {
    .author-list div {
        padding-left: 1rem;
        position: relative;

        .theme {
            font-weight: 900;
            // font-size: rem(20px);
            color: $purple;
            text-transform: uppercase;
        }

        &:target::before {
            content: " ";
            display: block;
            position: absolute;
            width: 10px;
            height: 100%;
            left: 0;
            border-left: 2px solid $light-purple;
        }
    }
}
