/* custom styles for "An Unnatural Language" */

/* disable normal blockquote styles for <cite>, which we use to mark book titles */
cite.book {
  display: inline !important;
  font-style: italic !important;
}

cite.book::before {
  display: none !important;
}

/* figure 2 styles */

#fig2 th {
  font-size: 1.5rem;
}

#fig2 th[scope=row] {
  font-size: 1rem;
  text-align: end;
}

#fig2 .words td {
  text-align: center;
  font-size: 3rem;
}

#fig2 .translit td,
#fig2 .translit th,
#fig2 .gloss td,
#fig2 .gloss th {
  padding: .5rem;
}

#fig2 img.character {
  width: 3rem;
  height: 3rem;
}

#fig2 caption,
#fig2 .languages,
#fig2 .words {
  text-align: center;
}


/* figure 3 (provisional) */

.source {
  font-size: 2rem;
  line-height: 2.7rem !important;
  font-style: normal !important;
  text-underline-offset: .5rem;
}

.par {
  text-decoration: underline;
}

.g1 {
  border: 1px solid gray;
  background-color: lightblue;
}

.g2 {
  border: 1px solid gray;
  background-color: pink;
}

.g1, .g2 {
  color: black;
}

/* figure 4 (provisional) */

#fig4 .stanza-header {
  text-align: center;
  font-style: italic;
}

#fig4 .lb > td {
  padding-top: 1rem;
}

#fig4 .rhyme {
  border: 2px solid black;
}

#fig4 .half-rhyme {
  border: 2px solid gray;
}


/* figure 6 */

#fig6 p {
  line-height: normal !important;
  font-size: 22px;
}


#fig6 .caption {
  margin-top: 3em;
  margin-left: 150px;
  max-width: calc(95% - 150px);
  font-size: 16px;
  @media (min-width: 768px) {
    margin-left: 5%;
    max-width: auto;
  }
}

.card {
  /* stack on smaller screens */
  display: inline-block;
  margin-left: 20%;
  vertical-align: top;
  width: 80%;

  /* side by side on larger screens */
  @media (min-width: 768px) {
    width: 45%;
    padding-left: 5%;
    margin-left: 0;
  }
}

/* second card */
.card + .card {
  margin-bottom: 100px; /* push to make space for ear on mobile */
  @media (min-width: 768px) {
    margin-bottom: auto;
    width: 48%;
    padding-left: 0;
  }
}

#fig6 .card p.large {
  font-size: 24px;
	font-style: normal;
	font-weight: 400;
  line-height: 33px;
  white-space: nowrap;
    @media (min-width: 1024px) {
      font-size: 40px;
      line-height: 58px;
    }
}

#fig6 .card header {
  font-size: 20px;
  margin-bottom: 14px;
  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.card .fade {
	opacity: 0.7;
}

/* match up word and phonetic spelling widths */
.fish {
  display: inline-block;
  width: 3.5rem;
}

.tek {
  display: inline-block;
  width: 2.75rem;
}

#fig6::before {
  content: " ";
  display: block;
  background-image: url("listen.svg");
  background-repeat: no-repeat;
  background-position: -35px bottom;
  background-size: 150px;
}


/* figure 7 (provisional) */

#fig7 .source {
  font-size: 0;   /* removes spaces between spans */
  line-height: 2.7rem !important;
}

#fig7 .translation {
  line-height: 1.5;
}

#fig7 .head {
  text-decoration: underline;
}

#fig7 .graf {
  background-color: #4dd0e1;
}

#fig7 .phon {
  background-color: #ffab40;
}

#fig7 .sem {
  background-color: #eeff41;
}

#fig7 .per {
  background-color: #009688;
}

#fig7 .work {
  background-color: #78909c;
}

#fig7 .source span {
  font-size: 2rem;
  display: inline;
}

#fig7 .graf,
#fig7 .phon,
#fig7 .sem,
#fig7 .per,
#fig7 .work {
  border: 1px solid grey;
  color: black;
}
