/* custom styles for "An Unnatural Language" */

/* disable normal blockquote styles for <cite>, which we use to mark book titles */
cite.book {
  display: inline !important;
  font-style: italic !important;
}

cite.book::before {
  display: none !important;
}

/* figure 2 styles */

#fig2 th {
  font-size: 1.5rem;
}

#fig2 th[scope=row] {
  font-size: 1rem;
  text-align: end;
}

#fig2 .words td {
  text-align: center;
  font-size: 3rem;
}

#fig2 .translit td,
#fig2 .translit th,
#fig2 .gloss td,
#fig2 .gloss th {
  padding: .5rem;
}

/* space between the two parts */
#fig2 .languages th:nth-child(3),
#fig2 .words td:nth-child(2),
#fig2 .gloss td:nth-child(4),
#fig2 .translit td:nth-child(4) {
  padding-left: 2.5rem;
}

#fig2 img.character {
  width: 3rem;
  height: 3rem;
}

#fig2 caption,
#fig2 .languages,
#fig2 .words {
  text-align: center;
}

#fig2 caption {
  width: auto;
}


/* figure 3 (provisional) */

.source {
  font-size: 2rem;
  line-height: 2.7rem !important;
  font-style: normal !important;
  text-underline-offset: .5rem;
}

.par {
  text-decoration: underline;
}

.g1 {
  border: 1px solid gray;
  background-color: lightblue;
}

.g2 {
  border: 1px solid gray;
  background-color: pink;
}

.g1, .g2 {
  color: black;
}

/* figure 4 (provisional) */

#fig4 .stanza-header {
  text-align: center;
  font-style: italic;
}

#fig4 .lb > td {
  padding-top: 1rem;
}

#fig4 .rhyme {
  border: 2px solid black;
}

#fig4 .half-rhyme {
  border: 2px solid gray;
}


/* figure 6 */

#fig6 p {
  line-height: normal !important;
  font-size: 22px;
}


#fig6 .caption {
  margin-top: 3em;
  margin-left: 150px;
  max-width: calc(95% - 150px);
  font-size: 16px;
  @media (min-width: 768px) {
    margin-left: 5%;
    max-width: auto;
  }
}

.card {
  /* stack on smaller screens */
  display: inline-block;
  margin-left: 20%;
  vertical-align: top;
  width: 80%;

  /* side by side on larger screens */
  @media (min-width: 768px) {
    width: 45%;
    padding-left: 5%;
    margin-left: 0;
  }
}

/* second card */
.card + .card {
  margin-bottom: 100px; /* push to make space for ear on mobile */
  @media (min-width: 768px) {
    margin-bottom: auto;
    width: 48%;
    padding-left: 0;
  }
}

#fig6 .card p.large {
  font-size: 24px;
	font-style: normal;
	font-weight: 400;
  line-height: 33px;
  white-space: nowrap;
  @media (min-width: 1024px) {
      font-size: 40px;
      line-height: 58px;
  }
}

#fig6 .card header {
  font-size: 20px;
  margin-bottom: 14px;
  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.card .fade {
	opacity: 0.7;
}

/* match up word and phonetic spelling widths */
.fish {
  display: inline-block;
  width: 3.75rem;
  @media (min-width: 1024px) {
    width: 6.25rem;
  }
}

.tek {
  display: inline-block;
  width: 2.75rem;
  @media (min-width: 1024px) {
    width: 3.75rem;
  }
}

#fig6::before {
  content: " ";
  display: block;
  background-image: url("listen.svg");
  background-repeat: no-repeat;
  background-position: -35px bottom;
  background-size: 150px;
}


/* figure 7 (provisional) */

#fig7 {
  /* use flexbox to let terms follow each other (with translation & annotation)
  and wrap as needed */
  display: flex;
  /* on mobile, layout one term per row */
  flex-direction: column;
  justify-content: flex-start;
  color: #404040; /* override interlude text color */

  font-family: var(--font-sans);

  /* on larger screens, display layout horizontally but wrap */
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

}
#fig7.interlude:before {
  background-color: #E9E9E9;
/* can we use a gradient for the strips */
/*  background: linear-gradient(
  to bottom,
  #E9E9E9,
  #E9E9E9 145px,
  #FEFEFE 129px,
  #E9E9E9 145px,
  #FEFEFE 129px
);*/
}

#fig7 > div {
  /* use flexbox within each block so they stack nicely */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: #FEFEFE;

  /* full screen width on mobile */
  width: 100vw;
  margin-left: -10px;

  @media (min-width: 768px) {
      width: min-content;
  }
}

/*#fig7 > div:first-child:after {
  content: " ";
  background-color: yellow;
  width: 100vw;
}*/

#fig7 .source {
  white-space: nowrap;
  font-size: 24px;
  background-color: #E9E9E9;
  padding-right: 12px;
  padding-left: 40px;
  padding-bottom: 4px;

  @media (min-width: 768px) {
    font-size: 40px;
    padding-left: 12px;
    padding-bottom: 14px;
  }

}


#fig7 .translation {
  font-size: 18px;
  padding: 4px 12px 4px 40px;
  align-self: flex-start;

  @media (min-width: 768px) {
    font-size: 20px;
    padding: 20px 12px;
  }
}


/* text labels for annotations */
#fig7 > div:after {
  font-style: italic;
  font-size: 18px;
  background-color: #FEFEFE;
  padding: 4px 4px 4px 40px;
  @media (min-width: 768px) {
    padding: 14px 12px 21px;
  }
}
.graphic::after {
  content: "Graphic";
}
.phon:after {
  content: "Phonetic";
}
.person:after {
  content: "Person"
}
.semantic:after {
  content: "Semantic"
}
.work:after {
  content: "Work"
}

/* visual indicators for annotations (provisional) */

/* mobile: indicator displays vertically next to translation term */
#fig7 .translation:before {
  content: " ";
  display: block;
  height: 100%;
  width: 13px;
  position: absolute;
  left: 12px;

  border-image-width: 0 0 0 13px;
  border-image-slice: 0 0 0 13;
  border-image-repeat: round;
}
/* desktop: indicator displays horizontally under source term */
@media (min-width: 768px) {
  #fig7 .source:after {
    content: " ";
    display: block;
    height: 0;
    /* shared settings for border image */
    border-image-width: 0 0 13px 0;
    border-image-slice: 0 0 13 0;
    border-image-repeat: round;
    border-bottom: 13px transparent solid;
  }
  /* suppress left vertical indicator on desktop */
  #fig7 .translation:before {
    display: none;
  }
}
/* each element has a fallback style in case border image does not display */
#fig7 .graphic .source:after {
  border-bottom: 13px #1D6EB9 dotted;
  border-image-source: url('assets/graphic-annotation.svg');
}
#fig7 .graphic .translation:before {
  border-left: 13px #1D6EB9 dotted;
  border-image-source: url('assets/graphic-annotation.svg');
}

#fig7 .phon .source:after {
  /* this pattern is narrower; adjust width and padding for consistent height */
  border-bottom: 6px #BD6B00 dashed;
  border-image-width: 0 0 6px 0;
  padding-bottom: 4px;
  padding-top: 3px;
  border-image-source: url('assets/phonetic-annotation.svg');
}
#fig7 .phon .translation:before {
  border-left: 6px #BD6B00 dashed;
  border-image-source: url('assets/phonetic-annotation.svg');
}

#fig7 .semantic .source:after {
  border-bottom: 13px rgba(161, 47, 189, 1) dotted;
  border-image-source: url('assets/semantic-annotation.svg');
}
#fig7 .semantic .translation:before {
  border-left: 13px rgba(161, 47, 189, 1) dotted;
  border-image-source: url('assets/semantic-annotation.svg');
}

#fig7 .person .source:after {
  border-bottom: 8px solid #0A760F;
  border-image-width: 0 0 6px 0;
  padding-bottom: 3px;
  padding-top: 2px;
  border-image-source: url('assets/person-annotation.svg');
}
#fig7 .person .translation:before {
  border-left: 8px solid #0A760F;
  border-image-source: url('assets/person-annotation.svg');
}

#fig7 .work .source:after {
  border-bottom: 6px double #6D0000;
  border-image-width: 0 0 6px 0;
  padding-bottom: 4px;
  padding-top: 3px;
  border-image-source: url('assets/work-annotation.svg');
}

#fig7 .work .translation:before {
  border-left: 6px double #6D0000;
  border-image-source: url('assets/work-annotation.svg');
}

