<ul class="authors">
    {{ range .Params.Authors }}
    {{ $info := index $.Site.Data.authors . }} {{/* get author info */}}
    {{/* display name from param as fallback if there is no entry in the authors data file */}}
    {{ $authorsUrl := cond $.Site.Params.absoluteArticleLinks (absURL "/authors/") (relURL "/authors/") }}
    <li><address>{{ $info.name | default . }}</address>{{ if $info }}<a href="{{ $authorsUrl }}#{{ . }}" aria-label="author info" title="author info"><i class="ph-link-thin"></i></a>{{ end }}</li>
    {{ end }}
</ul>