<footer>
    <nav aria-label="footer links">
        {{ with .Site.Menus.footer }}
        <ul>
            {{ range . }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>

    <div class="icons">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons Attribution Non-commerical Share Alike License"
            src="{{ relURL "/img/logos/license.svg" }}" /></a>
      <a class="logo" id="startwords" href="{{ relURL "/" }}" aria-label="Startwords"></a>
      <a class="logo" id="cdh" href="https://cdh.princeton.edu/" aria-label="The Center for Digital Humanities at Princeton"></a>
    </div>
</footer>
