<footer>
	<br />
	{{ with .Site.Menus.main }}
	<nav>
		<h2 class="tc f3">
			{{ range . }}
			<a href="{{ .URL | relURL }}">{{ .Name }}<br /></a>
			{{ end }}
		</h2>
	</nav>
	{{ end }}
	<br />
	<p class="tc small-caps"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="width:12px;height:12px;border-width:0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Cc.logo.circle.svg/64px-Cc.logo.circle.svg.png" /></a> <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA 4.0</a> | {{ now.Year }} | <a href="https://cdh.princeton.edu">Center for Digital Humanities at Princeton</a></p>
</footer>
