<footer>
    <nav aria-label="{{ i18n "footer-links" }}">
        {{ with .Site.Menus.footer }}
        <ul>
            {{ range . }}
            <li><a class="highlight-focus" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>

    <div class="icons">
        <a class="license highlight-focus" rel="license" href="{{ .Site.Params.license }}">
            <img alt="{{ .Site.Params.license_text }}" src="{{ relURL "/img/logos/license.svg" }}" width="38" height="20"/></a>
        <a class="highlight-focus" href="{{ relURL "/" }}" aria-label="{{ .Site.Title }}">
            <div class="logo" id="startwords"></div>
        </a>
        <a class="highlight-focus" href="https://cdh.princeton.edu/"
            aria-label="{{ i18n "cdh" }}">
            <div class="logo" id="cdh"></div>
        </a>
    </div>
</footer>