<header>
    <nav aria-label="{{ i18n "main" }}">
        <ul>
            <li class="home">
                <a href="{{ relLangURL "/" }}">
                    <img class="logo" src="/img/logos/startwords.svg" alt="{{ i18n "home" }}" width="15" height="33">
                </a>
            </li>
            <li class="issues">
                <a href="{{ relLangURL "/issues/" }}">
                    <span>{{ i18n "issues" }}</span>
                </a>
            </li>
        </ul>
    </nav>
    {{/*
    {{ if not .IsHome }}
    <nav aria-label="{{ i18n "breadcrumbs" }}">
        <ol>
            {{ template "breadcrumbnav" (dict "p1" .Parent "p2" .Parent) }}
        </ol>
    </nav>
    {{ end }}
    */}}
</header>

{{/*
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
{{ end }}
<li><a href="{{ .p1.RelPermalink }}">{{ .p1.Title }}</a></li>
{{ end }}
 */}}