<header>
    <nav aria-label="main">
        <ul>
            <li class="issues">
                <a href="/issues">
                    <span>Issues</span>
                </a>
            </li>
            <li class="home">
                <a href="/">
                    <img class="logo" src="/img/logos/startwords.svg" alt="Home">
                </a>
            </li>
        </ul>
    </nav>
    {{/*
    {{ if not .IsHome }}
    <nav aria-label="breadcrumbs">
        <ol>
            {{ template "breadcrumbnav" (dict "p1" .Parent "p2" .Parent) }}
        </ol>
    </nav>
    {{ end }}
    */}}
</header>

{{/* 
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
{{ end }}
<li><a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a></li>
{{ end }}
 */}}