{{ if .IsTranslated }}
<aside class="translations">
    <h2 class="sr-only">{{ i18n "languages available" }}</h2>
    <ul>
        {{- range $.AllTranslations -}}
        {{- $translatedLangName := i18n .Language.LanguageName -}}
        {{- $label := i18n "read-in-lang" $translatedLangName -}}
        {{- if eq $.Lang .Lang -}}
        <li class="current"><span>{{ .Lang | upper }}</span></li>
        {{- else -}}
        <li><a href="{{ .RelPermalink }}" aria-label="{{ $label }}" title="{{ $label }}">{{ .Lang | upper }}</a></li>
        {{- end -}}
        {{- end -}}
    </ul>
</aside>
{{ end }}