{{ define "pagetype" }}issue-list{{ end }}

{{ define "main" }}
<main>
    <div class="grid">
        <div class="container">
            {{ with .Title }}<h1 class="sr-only">{{ . }}</h1>{{ end }}
            {{ with .Content }}{{ . }}{{ end }}
            {{ with .Sections }}
            <ol>
                {{ range . }}
                <li>
                    <a class="highlight-focus" href="{{ .Permalink }}" aria-label="Issue {{ .Params.number }}">
                        {{ .Render "summary" }}
                    </a>
                </li>
                {{ end }}
            </ol>
            {{ else }}
            <p>First issue to be released March 2020.</p>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
