{{ define "css" }}
    {{ range .Resources.Match "*.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}

{{ define "pagetype" }}issue{{ end }}

{{ define "main" }}
<main>
    <div class="issue-summary">
        <span class="number">Issue {{ .Params.number }}</span>
        <h1 class="theme">{{ .Params.theme }}</h1>
        <div class="summary">{{ .Content }}</div>
    </div>
    <a href="#features"><img class="chevron"/></a>
    <section id="features" aria-label="features">
        {{ range .Pages }}
        {{ .Render "summary" }}
        {{ end }}
    </section>
</main>
{{ end }}
