{{ define "css" }}
    {{ range .Resources.Match "*.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}

{{ define "pagetype" }}issue{{ end }}

{{ define "main" }}
<main>
    <div class="issue-summary grid">
        <div class="container">
            <span class="number">{{ i18n "issue" }} {{ .Params.number }}</span>
            <h1 class="theme">{{ .Params.theme }}</h1>
            <div class="summary">
                {{ .Content }}
                {{ partial "intro-authors" . }}
            </div>
            <a href="#features" class="chevron highlight-focus">
                <img src="/img/chevron.svg" alt="skip to featured content"/>
            </a>
            {{ partial "translations.html" . }}
        </div>

    </div>
    {{ partial "issue/features.html" . }}

    {{/* get contributor information from current page OR default language issue */}}
    {{ $credits := newScratch }}
    {{ if .Params.contributors }}
        {{ $credits.Set "contributors" .Params.contributors }}
    {{ else }}
        {{/* If contributors are not set, get default language version of this page.
            Since defaultContentLanguage is not accessible; get first language by priority */}}
        {{ $defaultLang := index .Site.Languages 0 }}
        {{ with index (where .Translations ".Lang" $defaultLang.Lang) 0 }}
            {{ $credits.Set "contributors" .Params.contributors }}
        {{ end }}
    {{ end }}
    {{ if $credits.Get "contributors" }}
    <section class="grid masthead" id="credits">
        <div class="container">
            <h2>{{ i18n "credits" }}</h2>
                {{ range $credits.Get "contributors" }}
                    {{ partial "credits.html" . }}
                {{ end }}
        </div>
    </section>
    {{ end }}

</main>
{{ end }}
