{{ define "css" }}
    {{ range .Resources.Match "*.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
{{ end }}

{{ define "pagetype" }}issue{{ end }}

{{ define "main" }}
<main>
    <div class="issue-summary grid">
        <div class="container">
            <span class="number">Issue {{ .Params.number }}</span>
            <h1 class="theme">{{ .Params.theme }}</h1>
            <div class="summary">{{ .Content }}</div>
            <a href="#features" class="chevron highlight-focus">
                <img src="/img/chevron.svg" alt="skip to featured content"/>
            </a>
        </div>
    </div>
    {{ partial "issue/features.html" . }}
</main>
{{ end }}
