{{ define "pagetype" }}home inverted{{ end }}

{{ define "main" }}
<main>
    <h1 class="sr-only">{{ .Site.Title }}</h1>
    <img alt="" class="logotype" src="/logotype.svg"/>
    <div class="issue-summary">
        {{ range first 1 (where .Site.AllPages "Type" "issue") }}
        <span class="number">Issue {{ .Params.number }}</span>
        <h2 class="theme"><a href="{{ .Permalink }}">{{ .Params.theme }}</a></h2>
        <p class="summary">{{ .Summary }}</p>
        {{ end }}
    </div>
    {{ range first 2 (where .Site.AllPages "Type" "article") }}
    {{ .Render "summary" }}
    {{ end }}
    {{ with .Content }}
    <div class="content">
        {{ . }}
    </div>
    {{ end }}
</main>
{{ end }}
