{{ define "main" }}
	<main>
	</main>

{{ partial "header.html" . }}

<p class="f1 tc">
	{{ with .Site.Data.volume1 }}
		<span class="f3">
			vol. {{ .number }}<br />
	</span>
	{{ end }}
	{{ with .Site.Data.volume1 }} {{ .theme }} {{ end }}
</p>

<section class="f4 center measure">
	  {{ with .Site.Data.volume1 }} {{ .abstract }} {{ end }}
</section>

<br/>
<br/>

<div class="flex justify-center">
	<div class="w-10 pa3 mr2 tl br">
		<h2>
			{{ with .Site.Data.volume1 }}
				<a href="{{ .article1.url }}">{{ .article1.title }}</a>
			{{ end }}
		</h2>
		<p>
			{{ with .Site.Data.volume1 }}
				{{ .article1.authors }}
			{{ end }}
		</p>
	</div>
  <div class="fade w-25 pa3 mr2 f4">
    <p>Cupcake ipsum dolor sit amet chupa chups. Sweet roll tart tiramisu lemon drops apple pie sesame snaps tart tiramisu brownie. Jujubes oat cake candy canes danish. Ice cream pie gingerbread cake lemon drops lemon drops sugar plum lemon drops cheesecake. Sweet candy macaroon pastry pastry jelly beans. Macaroon apple pie wafer lollipop chocolate bar.</p>
		<p>Chupa chups donut sugar plum. Cake pastry powder. Topping wafer oat cake fruitcake cupcake tart danish. Biscuit caramels sweet roll cake sugar plum caramels. Oat cake cheesecake danish tootsie roll cake fruitcake halvah pudding cotton candy. Toffee apple pie dessert cookie oat cake danish.</p>
		<p class="tl">
			{{ with .Site.Data.volume1 }}
			<a href="{{ .article1.url }}">continue reading…</a>
			{{ end }}
		</p>
  </div>
  <div class="fade w-25 pa3 mr2 f4">
    <p>Marshmallow cotton candy candy candy canes icing toffee apple pie jujubes. Tart cotton candy danish soufflé gummies. Wafer sesame snaps cheesecake pie tootsie roll jujubes caramels jelly cake. Ice cream chocolate cake dessert. Chocolate cake cake jelly croissant pudding muffin croissant lollipop. Cookie brownie jelly-o tootsie roll dessert candy canes. Macaroon gummi bears chocolate bar ice cream gingerbread apple pie halvah.</p>
		<p>Danish tiramisu chocolate cake. Chupa chups dessert marshmallow bonbon soufflé chocolate dessert. Soufflé macaroon marzipan sweet. Chocolate sugar plum candy lemon drops icing brownie. Chupa chups sweet marshmallow muffin jelly beans danish caramels apple pie. Oat cake danish candy.</p>
		<p class="tr">
			{{ with .Site.Data.volume1 }}
			<a href="{{ .article2.url }}">continue reading…</a>
			{{ end }}
		</p>
  </div>
	<div class="w-10 pa3 mr2 tr bl">
		<h2>
			{{ with .Site.Data.volume1 }}
				<a href="{{ .article2.url }}">{{ .article2.title }}</a>
			{{ end }}
		</h2>
		<p>
			{{ with .Site.Data.volume1 }}
				{{ .article2.authors }}
			{{ end }}
		</p>
	</div>
</div>

<br />
<br />
<br />





{{ end }}
