:root {
    /* css variables duplicating site scss variables */
    --red: #CE2949;
    --off-white: #F6F6F6;
    --purple: #4C2A85;
    --light-purple: #E0CEFF;
    --transparent-red: rgba(206, 41, 73, 0.5);
}

body.article .deepzoom {
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
    margin-bottom: 30vh;
    background-color: black;

    counter-reset: highlightZoneCounter;
}

/* breakpoint-s */
@media (min-width: 768px) {
    body.article .deepzoom {
        height: 608px;
    }
}

.highlight {
    border: 3px solid var(--transparent-red);
    counter-increment: highlightZoneCounter;
}

/* position footnote reference within the highlight region,
   to control where contextual note will be placed */
.highlight sup {
    display: block;
    width: 100%;
    height: 30%;
}

.highlight::after {
    /* display counter parallel to endnote number */
    content: counters(highlightZoneCounter, ".");
    position: absolute;
    bottom: -2rem;
    right: 50%;
    color: var(--red);
    font-size: 70%;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    text-align: center;
    opacity: 1;  /* this seems to be ignored */

    /* duplicated in endnote li::before */
    margin-left: -2rem;
    padding-right: 0;
    background: var(--off-white);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;

}


/* adjust the 4 zones that are tilted boxes */
.highlight.rot4 {
    transform-origin: top left;
    transform: rotate(4deg);
}

.highlight:hover {
    border: 3px solid var(--red);
}

body.article .footnotes {
    /* add more space before footnotes */
    margin-top: 25rem;
}


body.article .footnotes li img {
    max-width: 250px;
    display: block;
    margin: auto;
}

/* customize footnote display */
.footnotes li::before {
    display: none;  /* hide footnote number */
}
/* display reference type in its place */
.footnotes li .reftype {
    position: absolute;
    right: calc(22.5% - 13px);
    color: var(--purple);
    top: 2.77rem;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 1rem;
}

.footnotes li .reftype .page {
    display: none;  /* don't show page number in contextual note */
}

.endnotes.footnotes li .reftype .page {
    display: inline;
}

.footnotes li.flip .reftype {
    left: calc(22.5% - 13px);
    right: auto;
}

.endnotes.footnotes li .reftype {
    position: relative;
    right: auto;
    font-weight: 400;
    display: block;
    top: auto;
    color: var(--light-purple);
    font-family: 'IBM Plex Serif', 'Palatino', serif;
}

body.article .footnotes.endnotes ol li a[role=doc-backlink] {
    opacity: 0;  /* back links are not functional, hard to link back to highlighted zone */
    /*color: var(--light-purple);*/
}

body.article .footnotes.endnotes ol li p, body.article .footnotes ol li p {
    text-indent: 0;
    margin-bottom: 1rem;  /* space before citation */
}

body.article .footnotes.endnotes ol li::before {
    margin-left: -2rem;
    padding-right: 0;
    background: var(--off-white);
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-top: 0.5rem;
}

body.article article .footnotes cite {
    font-style: normal;
}

.page_n {
    text-decoration: none;
    color: var(--off-white);
    font-size: 0.77rem;
}

@media (min-width: 768px) {
    .page_n {
       margin-top: 1rem;
    }
}

.reference {
    position: absolute;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 450px;
    height: 350px;
    background-color: var(--off-white);
    z-index: 3;
    opacity: 0;

   -webkit-transition: opacity 1.5s ease-in-out;
   -moz-transition: opacity 1.5s ease-in-out;
   -ms-transition: opacity 1.5s ease-in-out;
   -o-transition: opacity 1.5s ease-in-out;
}

.reference.loading {
    opacity: 0.5;
}

.reference.show {
    opacity: 1;
}

.footnote-ref {
    opacity: 0;
}


/* openseadragon navigator — limit width esp. for mobile */
.displayregioncontainer {
    max-width: 30vw;
}