/* custom interlude code */

.interlude {
    page-break-inside: avoid;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.interlude::before {
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    left: -10px;
    height: 100%;
    background: #4C2A85;
}

.interlude h2, .interlude h3 { width:  100%; }

.interlude .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    color: #E0CEFF;
    font-weight: 300;
    font-size: 16px;
    font-family: 'IBM Plex Serif', 'Palatino', serif;
    min-height: 150px;
}

@media print {
    .interlude .center {
        font-size: 12px;
    }
}

.interlude .center {
    padding-top: 35px;
    padding-bottom: 35px;
}

.interlude p {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 20px;
    z-index: 1;
}

.interlude p:first-child {
    margin-bottom: 0;
}

.interlude strong {
    font-weight: 700;
    clear: both;
}

@media (min-width: 768px) {
    .interlude::before { left: calc((100vw - 10px) / 10 * -1 - 10px) }
    .interlude .center { max-width: 550px; }
}

@media (min-width: 1024px) {
    .interlude::before { left: calc((100vw - 10px) / 10 * -2 - 10px) }
}

@media print {
    .interlude::before { background: none; }
    .interlude .center { color: #4C2A85; }

    body.article iframe {
        width: 95%;
        margin-bottom: 0;
    }
}

/* explicitly set heights for embedded keyboards to make sure the full content displays */
/* TODO: convert to rem? */
@media screen {
    #kb-s01 { height: 240px; }
    #kb-s02, #kb-s03, #kb-s04 { height: 320px; }
    #kb-s05, #kb-s06, #kb-s07 { height: 420px; }
    #kb-s08 { height: 520px; }
    #kb-s09 { height: 560px; }
}

@media print {
    body.article iframe {
        overflow: hidden;
        width: 99%;
        margin: 0;
    }
    body.article article ol, body.article article ul {
        line-height: 1rem;
    }
    #kb-s01 { max-height: 220px; }
    #kb-s02, #kb-s03, #kb-s04 { max-height: 280px; }
    #kb-s05 { max-height: 375px; }
    #kb-s06, #kb-s07 { max-height: 405px; }
    #kb-s08 { max-height: 490px; }
    #kb-s09 { max-height: 530px; }
}