form {
  padding: 1em;
  background: white;
  border-radius: 5px;
}

form textarea {
  display: block;
  width: 100%;
}

form label {
  display: block;
  color: #888;
  font-size: 0.8em;
}

form button#submit {
  display: block;
  width: 100%;
  background: #00979D;
  color: #fff;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 0.5em;
}

form pre {
  display: block;
  width: 100%;
  padding: 0.5em;
  background: #eee;
  min-height: 3em;
}

#keyboard {
  padding: 0.5em;
  background: #edc;
}

#keyboard .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#keyboards-list,
#visual-scripts-list {
  background: #edc;
  padding: 0.25em 0.5em;
  text-align: center;
}

#keyboards-list span {
  color: #888;
}

#keyboards-list button,
#visual-scripts-list button {
  cursor: pointer;
  margin: 0 0.25em;
}

.keyboard-key {
  cursor: pointer;
  display: inline-block;
  margin: 0.125em;
  width: 3em;
  height: 3em;
}
.keyboard-key span {
  display: block;
  font-size: 0.6em;
  color: #888;
}

.v2 .keyboard-key {
  padding: 0;
  border: 0;
  width: 50px;
  height: 60px;
}