/* article list, detail, & summary styles */

.authors {
    list-style: none;
    margin: 0;
    padding: 0;

    address {
        font-family: $font-sans;
        font-style: normal;
    }
}

.article-summary {
    display: block;
    float: left;
    width: 50%;

    &:last-of-type {
        text-align: right;
    }

    .inverted & {
        color: $light-purple;
        
        a, a:visited {
            color: $light-purple;
        }
    }
}

.pubdate {
    display: block;
    font-family: $font-sans;
}

.number,
.theme {
    font-family: $font-sans;
}

.sketchfab-embed-wrapper > iframe {
    width: 100%;
    height: 320px;
}

.deepzoom {
    width: 100%;
}