/* article list, detail, & summary styles */

// variables
$frame-height: rem(320px);

// global
.authors {
    list-style: none;
    margin: 0;
    padding: 0;

    address {
        font-family: $font-sans;
        font-style: normal;
    }
}

.pubdate {
    display: block;
    font-family: $font-sans;
}

// summary
.article-summary {
    display: block;
    float: left;
    width: 50%;

    a {
        text-decoration: none;
    }

    p {
        font-family: $font-sans;
        font-size: rem(16px);
        line-height: rem(25px);
    }

    h2 {
        font-weight: bold;
        font-style: italic;
        font-size: rem(18px);
    }

    &:last-of-type {
        text-align: right;
    }

    .inverted & {
        color: $light-purple;
        
        a, a:visited {
            color: $light-purple;
        }
    }
}

// detail
.sketchfab-embed-wrapper > iframe {
    width: 100%;
    height: $frame-height;
}

.deepzoom {
    width: 100%;
}