/* global styles for error pages (404) */

body.error {
    // colors
    main, footer { background: $red; }
    main { color: $off-white; }

    // positioning
    main { display: flex; justify-content: center; }
    .error-container {
        position: relative;
        width: rem(300px);
        height: rem(300px);
        margin-top: rem(60px);
        margin-bottom: rem(50px);

        .graphic, .title, .subtitle, .flavor { position: absolute; }
        .title, .subtitle, .flavor { margin: 0; }
        .graphic { left: 0; top: 0; width: 100%; height: 100%; }
        .title { bottom: rem(-40px); left: rem(135px); }
        .subtitle { top: rem(20px); left: rem(40px); transform: rotate(-50.44deg); }
        .flavor { top: rem(40px); left: rem(210px); width: rem(100px); }

        @media (min-width: $breakpoint-m) {
            width: rem(675px);
            height: rem(750px);
            margin-top: 0;

            .title { bottom: rem(20px); left: rem(325px); }
            .subtitle { top: rem(100px); left: rem(70px); }
            .flavor { top: rem(175px); left: rem(475px); width: rem(300px); }
        }
    }

    // graphic
    .graphic {
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/img/not-found-error-mobile.svg");
        @media (min-width: $breakpoint-m) {
            background-image: url("img/not-found-error.svg");
        }
    }

    // type
    .title, .subtitle { font-weight: 600; text-transform: uppercase; }
    .flavor { font-style: italic; line-height: rem(24px); }
    .subtitle, .flavor {
        font-size: rem(18px);
        @media (min-width: $breakpoint-m) { font-size: rem(20px); }
    }
    .title {
        font-size: rem(24px);
        @media (min-width: $breakpoint-m) { font-size: rem(26px); }
    }
}