/* global styles */

html {
    scroll-behavior: smooth;
    font-size: $base-font-size;
}

body {
    font-family: $font-sans;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-flow: column nowrap;
}

main {
    flex: 1;
    background: $off-white;
    color: $dark-grey;
    overflow: hidden;
}

article {
    font-family: $font-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
}

a, a:visited {
    color: $dark-purple;
}

abbr {
    text-decoration: none;
}

dd {
    margin-top: rem(8px);
    margin-left: rem(16px);
}
