// global styles

$font-sans: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'IBM Plex Serif', 'Palatino', serif;

$gutter-xs: 20px;
$footer-height: 100px;

// colors
$light-grey: #e9e9e9;

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    font-family: $font-sans;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

header {
    position: fixed;

    .issues, nav {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        position: absolute;
        top: 0;
    }

    .issues {
        left: 0;
    }

    nav {
        right: -100vw;

        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

main {
    margin: 0 $gutter-xs;
    flex: 1;
    margin-bottom: $footer-height;
}

footer {
    background: $light-grey;
    height: $footer-height;
    width: 100vw;
    position: fixed;
    bottom: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

article {
    font-family: $font-serif;
}

.article.summary {
    float: left;
    width: 50%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
}

a.title {text-decoration: none;}
a.title:visited {text-decoration: none;}
a.title:link {text-decoration: none;}
a.title:active {text-decoration: none;}

// use default blue link color for visited links
*:visited { color: rgb(0, 0, 238); }

.arrow {
    border-left: 1px dotted;
    height: 875px;
    position: absolute;
    left: 49%;
    margin-left: -3px;
    top: 25%;
}
