/* homepage styles */

.home {
    .logotype {
        width: 100%;
        grid-column: 2 / 10;
        margin: rem(50px) 0;
        @media (min-width: $breakpoint-s) { grid-column: 4 / 8; }
    }
    
    // slightly relaxed margins on tablet
    .issue-summary {
        grid-column: 2 / 10;
        @media (min-width: $breakpoint-s) { grid-column: 3 / 9; }

        a.more {
            font-size: rem(16px);
        }
    }

    // slightly relaxed margins on tablet
    main > .container {
        grid-column: 1 / 11;
        @media (min-width: $breakpoint-s) { grid-column: 3 / 9; }
    }

    main > .content {
        grid-column: 1 / 11;
        box-sizing: border-box;
        margin-left: rem(-$gutter);
        width: 100vw;
        margin-top: rem(60px);
        color: $dark-grey;
        background: $off-white;
        padding-top: rem($gutter);
        padding-left: rem($gutter);
        padding-right: rem($gutter);
        padding-bottom: calc(#{rem(10px)} + #{$footer-height});
        @media (min-width: $breakpoint-s) {
            padding-left: rem(60px);
            padding-right: rem(60px);
        }

        dt { font-style: italic; }
        abbr { font-style: normal; }

        a {
            color: inherit;
            text-decoration: none;

            dl dd:last-child::after {
                content: url('/link-arrow-right.svg');
                vertical-align: top;
                padding-left: rem(5px);
                transition: padding 0.2s ease;
            }

            &:hover,
            &:active {
                dl dd:last-child::after {
                    padding-left: rem(10px);
                }
            }
        }
    }

    footer {
        margin-top: -$footer-height;
    }
}
