/* translation/localization styles */

/* translation toggle */
article header,
.issue-summary .container {
    /* make space for translations toggle */
    position: relative;
    padding-top: 45px;
}

aside.translations {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;

    ul {
        margin: 0;
        padding: 0;
        perspective: 1477px;
        perspective-origin: 150% 375%;
    }

    li {
        list-style-type: none;
        display: inline-block;
        position: relative;
        background-color: $light-purple;
        color: $dark-purple;
        font-family: $font-sans;
        font-size: 1.1rem;
        transform-style: preserve-3d;

        --button-width: 40px;
        --button-height: 34px;

        width: var(--button-width);
        height: var(--button-height);
        // unselected
        transform: scale3d(1, 1, 1.75) translate3d(5px, 3px, var(--button-width));

        @media (min-width: $breakpoint-s) {
            --button-width: 45px;
            --button-height: 40px;
            font-size: 1.2rem;
        }
        &.current {
            background-color: $medium-dark-purple;
            font-weight: 600;
            transform: none;
        }

        a,
        span {
            width: 100%;
            text-align: center;
            line-height: var(--button-height);
            text-decoration: none;
            display: block;
        }

        &:not(:first-child):not(.current) {
            /* remove space between */
            // transform is slightly different for button on right
            transform: scale3d(1, 1, 1.75)
                translate3d(calc(var(--button-width) * 0.1), calc(var(--button-width) * 0.08), var(--button-width));
        }

        /* use pseduo-elements to create visible cube faces */
        &::before,
        &::after {
            content: " ";
            box-sizing: border-box;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $medium-purple;
            border: 1px solid $medium-purple;
        }
        &::before {
            /* cube face right */
            transform: rotateY(-270deg) translateX(var(--button-width));
            transform-origin: top right;
        }
        &::after {
            /* cube face bottom */
            transform: rotateX(270deg) translateY(var(--button-height));
            transform-origin: bottom center;
        }
    }
}

.issue-list {
    .languages {
        padding: 2rem 0 1.5rem 2rem;
    }
}

.languages {
    span {
        display: inline-block;
        margin-right: 0.5rem;
        width: 1.7rem;
        height: 1.3rem;
        background: white;
        border: 2px solid $purple;
        border-radius: 4px;
        text-transform: uppercase;
        text-align: center;
        color: $black;
    }
}

@mixin dark-bg-language-chip {
    background: $darkest-purple;
    color: $light-purple;
    border: 2px solid $darkest-purple;
}

/* language indicators for articles on issue detail page and home page*/
#features .languages {
    margin-bottom: rem(12px);

    span {
        @include dark-bg-language-chip;
    }
}

.snippets .languages {
    margin-top: rem(5px);
}
