/* mixins & utilities */

// inverted sections use a purple background & white text
@mixin inverted {
    color: $off-white;
    background-color: $purple;

    a, a:visited {
        color: $off-white;
    }
}

// helper class for applying @inverted
.inverted {
    @include inverted;
}