/* style configuration */

// colors
$off-white:    #F6F6F6;
$light-grey:   #E9E9E9;
$light-purple: #E0CEFF;
$medium-purple: #C7A6FF;
$medium-dark-purple: #AE80FF;
$purple:       #4C2A85;
$dark-purple:  #3D206C;
$darkest-purple: #38235B;
$dark-grey:    #404040;
$grey:         #808080;
$black:        #000000;
$red:          #CE2949;

// transparent colors
$transparent-grey: rgba(128, 128, 128, 0.5);
$transparent-red: rgba(206, 41, 73, 0.6);

// font controls
// Noto Serif TC and Noto Sans TC are first; using unicode-range to apply where needed
$font-sans:  'Noto Sans TC', 'Source Sans Pro', 'Arial', sans-serif;
$font-serif: 'Noto Serif TC', 'IBM Plex Serif', 'Palatino', serif;
$base-font-size: 18px; // = 1rem

// breakpoints
$breakpoint-xs: 320px;
$breakpoint-s:  768px;
$breakpoint-m:  1024px;
$breakpoint-l:  1280px;
$breakpoint-xl: 1440px;

// break point for full-width contextual notes
$breakpoint-fullwidth-notes: 414px;

// layout
$gutter: 10px;
$grid-gap: 10px;
$grid-column: calc((100vw - (2 * #{$gutter}) - (9 * #{$grid-gap})) / 10);


:root {
  --font-sans: #{$font-sans};
  --font-serif: #{$font-serif};  
  --purple: #{$purple};
}

