/* style configuration */

// colors
$off-white:    #F6F6F6;
$light-grey:   #E9E9E9;
$light-purple: #E0CEFF;
$purple:       #4C2A85;
$dark-purple:  #3D206C;
$black:        #000000;
$red:          #CE2949;

// font stacks
$font-sans:  'Source Sans Pro', 'Arial', sans-serif;
$font-serif: 'IBM Plex Serif', 'Palatino', serif;

// layout
$gutter-xs: 20px;
$footer-height: 100px;