{{ define "pagetype" }}about{{ end }}

{{ define "main" }}
<main>
    <div class="grid">
        <header>
            {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
            {{ .Summary }}
        </header>
        <div class="text-container">
            {{ with .Content }}{{ . }}{{ end }}

            <div class="masthead">
                {{ range .Params.masthead }}
                    {{ partial "credits.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}
