{{ define "main" }}
	<main>
	</main>

{{ partial "header-page.html" . }}

<div class="pl7 f1 f2-m">
	<h1>{{ .Params.Title }}<h1>
</div>


<div class="pl7 flex justify-left">
	<div class="w-25 mr2 tl br">
		<h1>{{ range .Params.Authors }}{{ . }}<br/>{{ end }}</h1>
	</div>
  <div class="pa4 f7 w-25 mr2 tl">
		<h1>
			<a href="{{ .Parent.Permalink }}">Issue {{ .Parent.Params.number }}:<br/>
			{{ .Parent.Params.issue_theme }}</a><br/>
			{{ .Parent.Date }}
		</h1>
	</div>
</div>

<br/>
<br/>

<div class="pl7 f4 mw7">
	{{ .Content }}
</div>

{{ end }}
