/* add custom background image of weaving */

article { position: relative; }

article::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-image: url('images/weaving-panorama.jpg');
    background-position-y: top;
    background-position-x: 20vw;
    background-repeat: no-repeat;
    background-size: 200%;
}