{{/* Shortcode for open seadragon deep zoom  */}}
{{- $zoom_id := printf "%s-%d" "openseadragon" .Ordinal -}} {{/* generate unique identifier within page */}}
{{- $height := default "30em" (.Get "height") -}}
<figure>
<div class="deepzoom" id="{{ $zoom_id }}" style="height: {{ $height }}" aria-label="{{ .Get `alt` }}"></div>
<script>
    window.addEventListener("DOMContentLoaded", function() {
        OpenSeadragon({
            id: "{{ $zoom_id }}",
            prefixUrl: "https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/images/",
            preserveViewport: true,
            visibilityRatio:    1,
            minZoomLevel:       1,
            defaultZoomLevel:   1,
            gestureSettingsMouse: { scrollToZoom: false },
            tileSources: "{{ .Get `tile` }}",
        });
    });
</script>
{{ with .Get `caption` }}
    <figcaption><p>{{ . | markdownify }}</p></figcaption>
{{ end }}
</figure>
{{/* image, alt & caption rendered in pdf only, in place of viewer */}}
{{ if (.Get "pdf-img") }}
<figure class="deepzoom-preview">
    <img src="{{ .Get `pdf-img` }}" alt="{{ .Get `pdf-alt` }}" loading="lazy"/>
    <figcaption>
    {{ with .Get `caption` }}
    <p>{{ . | markdownify }}</p></figcaption>
    {{ end }}
    <p>The online version of this essay includes an interactive deep zoom viewer displaying a high resolution capture of this object.</p></figcaption>
</figure>
{{ end }}