{{/* get page resource matching filename specified as "src" in shortcode */}}
{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $gif := eq (path.Ext (.Get "src")) ".gif" }}
{{ $svg := eq (path.Ext (.Get "src")) ".svg" }}

{{/* set image derivative sizes */}}
{{ $tiny_w := default "500x" }}
{{ $small_w := default "800x" }}
{{ $medium_w := default "1200x" }}
{{ $large_w := default "1500x" }}
{{ $huge_w := default "1800x" }}

{{/* generate derviatives for output in srcset */}} 
{{ if (not (or $svg $gif))  }}
{{ .Scratch.Set "tiny" ($img.Resize $tiny_w) }}
{{ .Scratch.Set "small" ($img.Resize $small_w) }}
{{ .Scratch.Set "medium" ($img.Resize $medium_w) }}
{{ .Scratch.Set "large" ($img.Resize $large_w) }}
{{ .Scratch.Set "huge" ($img.Resize $huge_w) }}
{{ end }}

<figure{{ with .Get "desc-id" }} aria-describedby="{{ . }}"{{ end }}>
    <img loading="lazy" alt="{{ .Get `alt` }}" role="img" sizes="(max-width: 768px) 100%, 80%"
    {{- with .Get "max-height" -}}
     style="max-height: {{ . }}"
    {{- end -}}
    {{- if (or $svg $gif) -}}
     src="{{ $img.RelPermalink }}"
    {{- else -}}
     srcset="{{ (.Scratch.Get `tiny`).RelPermalink }} 500w,
    {{ (.Scratch.Get `small`).RelPermalink }} 800w,
    {{ (.Scratch.Get `medium`).RelPermalink }} 1200w,
    {{ (.Scratch.Get `large`).RelPermalink }} 1500w,
    {{ (.Scratch.Get `huge`).RelPermalink }} 1800w,
    {{ if gt $img.Width `1800` }}{{ $img.RelPermalink }} {{ $img.Width }}w{{ end }}"
     class="{{ if ge $img.Width $img.Height }}landscape{{ else }}portrait{{ end }}"
    {{- end -}}
    >
    {{- if or (.Get "caption") (.Get "attr") -}}
    <figcaption>
        <p>
        {{- with .Get "caption" -}}
        {{ . | markdownify }}
        {{- end -}}
        {{- if .Get "attr" -}}
        <span class="attribution">
            {{- with .Get "attrlink" -}}<a href="{{ . }}">{{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{- end -}}
        </span>
        {{- end }}
        </p>
    </figcaption>
    {{- end }}
</figure>