{{/* get page resource matching filename specified as "src" in shortcode */}}
{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $raster := ne (path.Ext (.Get "src")) ".svg" }}

{{/* set image derivative sizes */}}
{{ $tiny_w := default "500x" }}
{{ $small_w := default "800x" }}
{{ $medium_w := default "1200x" }}
{{ $large_w := default "1500x" }}
{{ $huge_w := default "1800x" }}

{{/* generate derviatives for output in srcset */}} 
{{ if $raster }}
{{ .Scratch.Set "tiny" ($img.Resize $tiny_w) }}
{{ .Scratch.Set "small" ($img.Resize $small_w) }}
{{ .Scratch.Set "medium" ($img.Resize $medium_w) }}
{{ .Scratch.Set "large" ($img.Resize $large_w) }}
{{ .Scratch.Set "huge" ($img.Resize $huge_w) }}
{{ end }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}{{ if .Get "extdesc_id" }} aria-describedby="{{ .Get "desc_id" }}"{{ end }}>
{{- if .Get "link" -}}
<a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    {{ if $raster }}
    <img src="{{ (.Scratch.Get "large").RelPermalink }}" role="img" sizes="(max-width: 768px) 100%, 80%" loading="lazy" width="100%"
    srcset='{{ (.Scratch.Get "tiny").RelPermalink }} 500w,
    {{ (.Scratch.Get "small").RelPermalink }} 800w,
    {{ (.Scratch.Get "medium").RelPermalink }} 1200w,
    {{ (.Scratch.Get "large").RelPermalink }} 1500w,
    {{ (.Scratch.Get "huge").RelPermalink }} 1800w,
    {{ if gt $img.Width "1800" }}{{ $img.RelPermalink }} {{ $img.Width }}w{{ end }}'
    class="{{ if ge $img.Width $img.Height }}landscape{{ else }}portrait{{ end }}"
    {{ else }}
    <img src="{{ $img.RelPermalink }}" role="img" loading="lazy"
    {{ end }}
    {{- if or (.Get "alt") (.Get "caption") }}
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
    {{- end -}}
    >
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
        {{ with (.Get "title") -}}
        <h4>{{ . }}</h4>
        {{- end -}}
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}
        <a href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
        {{- end }}
</figure>