{{/* Shortcode for Sketchfab 3D object embedding  */}}
<div class="sketchfab-embed-wrapper">
    <iframe
        title="{{ .Get `title` }} on Sketchfab"
        frameborder="0"
        allow="autoplay; fullscreen; vr"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
        src="https://sketchfab.com/models/{{ .Get `id` }}/embed?autospin=0.2&amp;autostart=0&amp;camera=0&amp;preload=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1">
    </iframe>
</div>
