* {
  box-sizing: border-box;
}

:root {
  font-family: /*"Comic Sans MS", "Comic Sans",*/ "Tahoma", sans-serif;
  font-size: 16px;
  background: #fff;
  color: #444;
}

html, body {
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: #00979D;
}

header, main, footer {
  max-width: 1024px;
}

header {
  margin: 1em;
  padding: 1em;
  border-radius: 0.2em;
  background: #eee;
}

header h1 {
  padding: 0;
  margin: 0;
}

main {
  margin: 1em;
}

main h2 {
  padding: 1em;
  margin: 1em;
  border-bottom: 1px solid #444;
}

footer {
  font-size: 0.8em;
  margin: 1em;
  padding: 1em;
  border-radius: 0.2em;
  background: #eee;
}

section {
  border-radius: 0.2em;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 2px 4px 4px #eee;
}

iframe {
  display: block;
  margin: 0.5em auto;
  border: 1px solid #444;
  border-radius: 1em;
}

a.link-to-code {
  display: block;
  text-align: center;
}

p.note {
  color: #888;
  font-style: italic;
  font-size: 0.8em;
}

img.illustration {
  display: block;
  margin: 0.5em auto;
}

p.caption {
  text-align: center;
  font-size: 0.8em;
  margin: 0.25em auto 1em auto;
  padding: 0;
}

form {
  padding: 1em;
}

form textarea {
  display: block;
  width: 100%;
}

form label {
  display: block;
  color: #888;
  font-size: 0.8em;
}

form button#submit {
  display: block;
  width: 100%;
  background: #00979D;
  color: #fff;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 0.5em;
}

form pre {
  display: block;
  width: 100%;
  padding: 0.5em;
  background: #eee;
  min-height: 3em;
}

#keyboard {
  padding: 0.5em;
  background: #edc;
}

#keyboard .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#keyboards-list,
#visual-scripts-list {
  background: #edc;
  padding: 0.25em 0.5em;
  text-align: center;
}

#keyboards-list span {
  color: #888;
}

#keyboards-list button,
#visual-scripts-list button {
  cursor: pointer;
  margin: 0 0.25em;
}

.keyboard-key {
  cursor: pointer;
  display: inline-block;
  margin: 0.125em;
  width: 3em;
  height: 3em;
}
.keyboard-key span {
  display: block;
  font-size: 0.6em;
  color: #888;
}

.v2 .keyboard-key {
  padding: 0;
  border: 0;
  width: 50px;
  height: 60px;
}