/* figures (images, diagrams) in articles */

body.article figure {
    margin: rem(30px) 0;

    img {
        display: block;
        margin: 0 auto;
        
        &.landscape {
            width: 100%;
            @media (min-width: $breakpoint-m) {
                width: calc(100% + 200px);
                margin-left: rem(-100px);
                margin-right: rem(-100px);
            }
        }

        &.portrait {
            width: 75%;
            @media (min-width: $breakpoint-m) { width: 100%; }
        }
    }

    figcaption {
        font-style: italic;
        font-size: rem(16px);
    }
}