/* figures (images, diagrams) in articles */

// fallback styles for images outside of figures (shouldn't happen)
body.article .text-container > p > img, body.page article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

figure {
    margin: rem(30px) 0;

    img {
        display: block;
        margin: 0 auto;
        min-width: rem(150px);
        max-width: 100%;
        max-height: 80vh;

        &.portrait {
            max-width: 75%;
        }
    }

    // space between main caption and attribution
    .attribution::before {
        content: ' ';
    }

    figcaption {
        font-style: italic;
        font-size: rem(16px);
    }
}

pre {
    margin: rem(30px) auto;
    max-width: 75%;
    white-space: pre-wrap;
}
