/* purple "interlude" section originally created for Data Beyond Vision in issue */

.interlude {

    page-break-inside: avoid;
    position: relative;
    margin: 0 0;
    padding: 35px 0;

    color: #E0CEFF;
    font-weight: 400;
    font-size: 16px;
    font-family: 'IBM Plex Serif', 'Palatino', serif;

    /* use pseudo element to absolutely position a full-width
    background color behind everything else inthe interlude */
    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        top: 0;
        left: -10px;
        height: 100%;
        background: $purple;
        /*opacity: 0.5; /* for testing */

        @media (min-width: $breakpoint-s) {
            left: calc((100vw - 10px) / 10 * -1 - 10px);
        }
        @media (min-width: $breakpoint-m) {
            left: calc((100vw - 10px) / 10 * -2 - 10px);
        }
    }

    /* make sure content inside the interlude is positioned relatively */
    > * {
        position: relative;
    }

    /* when a heading appears first in the interlude, tighten up space slightly */
    & > h2:first-child, & > h3:first-child {
        margin-top: rem(25px);
        @media (min-width: $breakpoint-s) {
            margin-top: rem(50px);
        }
    }

    /* make sure selector is specific enough to override default article p styles */
    body.article article & p {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 20px;

        /* make full-width and left-aligned to ensure paragraphs
        broken across page breaks in PDF look correct */
        width: 100%;
        text-align: left;
    }

    strong {
        font-weight: 700;
        clear: both;
    }

    a {
        color: #E0CEFF;
    }

    @media print {
        color: #4C2A85;

        &::before { background: none; }

        h2 {
            page-break-before: always;
            width: 2.1in;
        }
    }
}



