/* article summary styles */

$preview-height-xs: rem(300px);  // 320px-375px
$preview-height-s:  rem(275px);  // 375px-414px
$preview-height-m:  rem(230px);  // 414px-768px
$preview-height-l:  rem(300px);  // 768px-1024px
$preview-height-xl: rem(250px);  // 1024px-

.article-summary {
    display: block;
    width: 50%;
    font-size: rem(16px);
    font-family: $font-sans;
    position: relative;

    @media (min-width: $breakpoint-m) { font-size: rem(18px); }

    a:not(.doi) { text-decoration: none; }

    p {
        margin: 0;
        line-height: rem(22px);
        max-width: rem(200px);
        position: relative;
        overflow: hidden;
        @media (min-width: $breakpoint-m) { font-size: rem(18px); }
    }

    // carefully scale paragraph sizes with custom breakpoints to achieve
    // desired text shape. here be dragons
    p,
    p::before {
        height: $preview-height-xs;
        @media (min-width: 375px) { height: $preview-height-s; }
        @media (min-width: 414px) { height: $preview-height-m; }
        @media (min-width: $breakpoint-s) { height: $preview-height-l; }
        @media (min-width: $breakpoint-m) { height: $preview-height-xl; }
    }

    h2 {
        font-family: $font-sans;
        font-weight: bold;
        font-style: italic;
        margin: rem(12px) 0;

        &::after {
            position: relative;
            z-index: 1;
        }
    }

    .authors, p { font-weight: 400; }

    .authors, h2 {
        font-size: rem(18px);
        @media (min-width: $breakpoint-m) { font-size: rem(20px); }
    }

    .doi {
        display: block;
        font-weight: 300;
        margin-top: rem(10px);
        word-wrap: break-word;
    }

    // background text
    .bg-text {
        position: absolute;
        width: 48vw;
        color: rgba(224, 206, 255, 0.05);
        top: rem(-25px);
        font-size: rem(20px);

        @media (min-width: $breakpoint-s) {
            font-size: rem(30px);
            top: rem(-50px);
        }
    }

    // text-shaping elements
    .bg-text::before,
    p::before {
        content: '';
        width: 100%;
    }

    // left/first preview
    &:first-of-type {
        float: left;
        text-align: left;

        .bg-text {
            text-align: left;
            right: 0;
        }

        p::before,
        .bg-text::before {
            float: right;
            shape-outside: $triangle-left;
        }

        // create space for arrow movement
        h2 { margin-right: rem(-20px); }

        // red arrow
        h2::after {
            content: url('/link-arrow-right.svg');
            vertical-align: top;
            padding-left: rem(5px);
            transition: padding 0.2s ease;
            white-space: nowrap;
        }
    }

    // right/second preview
    &:last-of-type {
        float: right;
        text-align: right;
        margin-top: rem(40px);

        .bg-text {
            left: 0;
        }

        p { margin-left: auto; }

        p::before,
        .bg-text::before {
            float: left;
            shape-outside: $triangle-right;
        }

        // create space for arrow movement
        h2 { margin-left: rem(-20px); }

        // red arrow
        h2::before {
            content: url('/link-arrow-left.svg');
            vertical-align: top;
            padding-right: rem(5px);
            transition: padding 0.2s ease;
            white-space: nowrap;
        }
    }

    // animate link arrows
    a:hover,
    a:focus {
        h2::before { padding-right: rem(10px); }
        h2::after { padding-left: rem(10px); }
    }

    // inverted portions use light purple instead of white
    &.inverted,
    .inverted & {
        @include inverted;
        color: $light-purple;

        a, a:visited {
            color: $light-purple;
        }
    }
}
