/* article summary styles */

.article-summary {
    display: block;
    width: 48%;
    font-size: rem(16px);
    font-family: $font-sans;
    position: relative;

    a:not(.doi) { text-decoration: none; }

    p {
        margin: 0;
        overflow: hidden;
        height: 275px;
        line-height: rem(22px);
        position: relative;
    }

    h2 {
        margin: 0;
        font-family: $font-sans;
        font-weight: bold;
        font-style: italic;
    }

    .authors, p { font-weight: 400; }

    .authors, h2 { font-size: rem(18px); }

    .doi {
        display: block;
        font-weight: 300;
        margin-top: rem(10px);
        word-wrap: break-word;
        font-size: rem(14px);
    }

    // background text
    .bg-text {
        overflow: hidden;
        position: absolute;
        width: 50vw;
        height: 500px;
        color: rgba(224, 206, 255, 0.05);
        top: rem(-50px);
        font-size: rem(20px);

        @media (min-width: $breakpoint-s) {
            font-size: rem(30px);
            top: rem(-100px);
        }
    }

    // text-shaping elements
    .bg-text::before,
    p::before {
        content: '';
        width: 100%;
    }

    .bg-text::before { height: 500px; }
    p::before { height: 275px; }

    // left/first preview
    &:first-of-type {
        float: left;
        text-align: left;

        .bg-text {
            text-align: left;
            right: 0;
        }

        p::before,
        .bg-text::before {
            float: right;
            shape-outside: $triangle-left;
        }

        // red arrow
        h2::after {
            content: url('/link-arrow-right.svg');
            vertical-align: top;
            padding-left: rem(5px);
            transition: padding 0.2s ease;
            white-space: nowrap;
        }
    }

    // right/second preview
    &:last-of-type {
        float: right;
        text-align: right;
        margin-top: rem(60px);

        .bg-text {
            left: 0;
        }

        p::before,
        .bg-text::before {
            float: left;
            shape-outside: $triangle-right;
        }

        // red arrow
        h2::before {
            content: url('/link-arrow-left.svg');
            vertical-align: top;
            padding-right: rem(5px);
            transition: padding 0.2s ease;
            white-space: nowrap;
        }
    }

    // animate link arrows
    a:hover,
    a:focus {
        h2::before { padding-right: rem(10px); }
        h2::after { padding-left: rem(10px); }
    }

    // inverted portions use light purple instead of white
    &.inverted,
    .inverted & {
        @include inverted;
        color: $light-purple;

        a, a:visited {
            color: $light-purple;
        }
    }
}
